.App {
  max-width: 660px;
  margin: 0 auto;
}

.warning {
  background: #ffd;
  padding: 1em;
}

.ErrorAlert {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

code {
  background: #eee;
  color: #933;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
  word-wrap: break-word;
}
