<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <style>
    .form-wrapper {
      margin-top: 4em;
      border: 1px solid #eee;
      border-radius: 3px;
      padding: 2em;
    }
  </style>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="column column-50 column-offset-25">
        <div class="form-wrapper">
          <h1>Login</h1>
          <p>Hint: two users are registered, both with password <code>pass</code>:</p>
          <ul>
            <li><code>peggy@example.com</code></li>
            <li><code>dwight@example.com</code></li>
          </ul>
          <form action="/auth/login" method="POST">
            <fieldset>
              <label for="emailField">Email</label>
              <input type="email" name="email" placeholder="johndoe@example.com" id="emailField">
              <label for="passwordField">Email</label>
              <input type="password" name="password" id="passwordField">
              <% if (redirect) { %>
              <input type="hidden" name="redirect" value="<%= redirect %>">
              <% } %>
              <button id="login-btn" class="button-primary" type="submit">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>
</html>